doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js')
    script(type='text/babel', src='javascripts/collections.js')
    script(type='text/babel', src='javascripts/app.js')
